 @media (max-width: 900px) {
  .hero {
    background-size: 640px 610px;
    background-position: left calc(50% + 270px) bottom;
  }
  .hero__content {
    padding-top: 80px;
  }
  .search__tag-item:not(:last-child) {
    margin-right: 5px;
  }
  .contact__text {
    font-size: 15px;
  }
  .footer{
    margin-top: -1px;
  }
}

@media (max-width: 852px) {
  .hero {
    background-size: 630px 600px;
    background-position: left calc(50% + 245px) bottom;
  }
  .hero__title {
    font-size: 90px;
  }
  .search .search__tag-btn {
    padding: 5px 8px;
  }
  .side-bar__articles-list {
    margin-bottom: 15px;
  }
  .side-bar__main-title {
    margin-bottom: 15px;
  }
  .news-block__content-title {
    font-size: 21px;
  }
  .search__title {
    margin-bottom: 15px;
  }
  .news-block__content-text {
    font-size: 16px;
  }
  .article {
    padding-top: 40px;
  }
  .news-block__heading-title {
    font-size: 40px;
  }
  .contact {
    padding: 40px 0;
  }
  .contact .col-6 {
    width: 70%;
    max-width: 70%;
    flex-basis: 70%;
  }
  .social {
    margin-bottom: 35px;
  }
  .news-block:last-child {
    margin-bottom: 90px;
  }
  .news-block:not(:last-child) {
    margin-bottom: 40px;
  }
  .news-block__heading {
    display: flex;
    margin-bottom: 30px;
  }
  .contact {
    padding: 50px 0;
  }
  .contact__about-title {
    font-size: 40px;
  }
  .contact__about-text {
    font-size: 20px;
  }
  .contact__title {
    font-size: 28px;
  }
  .contact__text {
    font-size: 14px;
  }
  .contact__input {
    padding: 12px 22px;
  }
  .contact__submit {
    padding: 13px 35px;
  }
  .footer {
    padding-bottom: 50px;
  }
  .pt-60 {
    padding-top: 50px;
  }
}
@media (max-width: 800px) {
  .hero {
    background-size: 630px 600px;
    background-position: left calc(50% + 245px) bottom;
  }
  .hero__text {
    font-size: 22px;
  }
  .hero__title {
    font-size: 85px;
  }
  .article__card {
    margin-bottom: 20px;
  }
  .article__side-bar {
    text-align: center;
  }
  .search__tag-list {
    justify-content: center;
  }
  .news-block__heading-title {
    font-size: 42px;
  }
  .article {
    padding-top: 35px;
  }
  .social {
    margin-bottom: 35px;
  }
  .news-block__heading {
    display: flex;
    margin-bottom: 30px;
  }
  .news-block__content__wrapper:not(:last-child) {
    margin-bottom: 30px;
  }
  .news-block:not(:last-child) {
    margin-bottom: 40px;
  }
  .news-block__content-title {
    font-size: 25px;
  }
  .social__links {
    padding-top: 0;
  }
  .contact__about-text {
    font-size: 17px;
  }
  .footer {
    padding-bottom: 40px;
  }
  .pt-60 {
    padding-top: 40px;
  }
  .contact__about-title {
    font-size: 35px;
    line-height: 48px;
  }
  .contact__about-text {
    font-size: 15px;
  }
  .contact__title {
    font-size: 21px;
  }
  .contact__text {
    font-size: 13px;
    margin-bottom: 28px;
  }
  .contact__input {
    font-size: 12px;
    padding: 8px 20px;
  }
  .contact__submit {
    font-size: 12px;
    padding: 9px 33px;
  }
  .news-block:last-child {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .hero {
    background-size: 600px 600px;
    background-position: left calc(50% + 265px) bottom;
  }
  .hero__content {
    padding-top: 90px;
  }
  .hero__text {
    font-size: 22px;
  }
  .hero__title {
    font-size: 85px;
  }
  .social__youtube {
    width: 100%;
    height: 300px;
  }
  .social__links-link {
    font-size: 18px;
  }
  .news-block__content-title {
    font-size: 20px;
  }
  .news-block__content-text {
    font-size: 15px;
  }
  .news-block__content-title {
    margin-bottom: 10px;
  }
  .news-block__content-text {
    margin-bottom: 10px;
  }
  .news-block__content__date {
    font-size: 12px;
  }
  .contact {
    padding: 40px 0;
  }
  .contact__about-title {
    margin-bottom: 5px;
  }
  .contact__title {
    margin-bottom: 10px;
  }
  .contact__about-text {
    max-width: 768px;
  }
  .contact__text {
    margin-bottom: 20px;
  }
  .news-block__content-text {
    font-size: 13px;
  }
}

@media (max-width: 720px) {
  html {
    padding-top: 71px;
  }
  .header__btn {
    display: none;
  }
  .header__nav {
    margin-right: 20px;
    margin-left: auto;
  }
  .hero {
    min-height: 515px;
    background-size: 549px 524px;
    background-position: left calc(50% + 145px) bottom;
  }
  .hero__content {
    padding-top: 50px;
    max-width: 384px;
  }
  .hero__text {
    font-size: 20px;
    line-height: 24px;
  }
  .hero__title {
    font-size: 64px;
    line-height: 63px;
    margin-bottom: 37px;
  }
  .hero .btn {
    font-size: 16px;
    line-height: 24px;
    padding: 13px 34px;
  }
  .nav__item:first-child {
    display: block;
  }
  .nav__item:last-child {
    display: none;
  }
  .article {
    display: none;
  }
  .order-maker {
    display: flex;
    flex-direction: column;
  }
  .order-1 {
    order: -1;
    margin-top: 30px;
  }
  .news-block:last-child {
    margin-bottom: 45px;
  }
  .article-page__title {
    font-size: 44px;
  }
  .article-page {
    padding: 40px 0;
  }
  .article-page__img {
    height: 310px;
  }
  .article-page__title {
    margin-bottom: 30px;
  }
  .article-page__img {
    margin-bottom: 31px;
  }
  .useful-articles {
    padding-bottom: 0;
  }
  .contact__text {
    font-size: 12px;
  }
  .contact__about-title {
    font-size: 30px;
    line-height: 44px;
  }
  .contact__about-text {
    font-size: 13px;
    max-width: 260px;
  }
  .contact__input {
    padding: 6px 20px;
  }
  .contact__submit {
    padding: 7px 33px;
  }
  .news-block:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .hero {
    min-height: 515px;
    background-size: 529px 504px;
    background-position: left calc(50% + 184px) bottom;
  }
}

@media (max-width: 640px) {
  .hero {
    background-size: 509px 484px;
  }
  .hero__text {
    font-size: 18px;
  }
  .hero__title {
    font-size: 60px;
    margin-bottom: 30px;
  }
}
