/* ---------- CUSTOM PROPERTIES ---------- */

:root {
  --white: #fff;
  --black: #000;
  --main-color: #ffc017;
}

/* ---------- FONTS ---------- */

@font-face {
  font-family: "Graphik";
  src: url("../font/Graphik-Medium.woff2") format("woff2"),
    url("../font/Graphik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../font/HelveticaNeueCyr-Roman.woff2") format("woff2"),
    url("../font/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../font/HelveticaNeueCyr-Medium.woff2") format("woff2"),
    url("../font/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Regular.woff2") format("woff2"),
    url("../font/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../font/Georgia.woff2") format("woff2"),
    url("../font/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../font/HelveticaNeueCyr-Light.woff2") format("woff2"),
    url("../font/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter-SemiBold.woff2") format("woff2"),
    url("../font/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Medium.woff2") format("woff2"),
    url("../font/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../font/Georgia-Bold.woff2") format("woff2"),
    url("../font/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../font/HelveticaNeueCyr-Bold.woff2") format("woff2"),
    url("../font/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* ---------- GLOBAL ---------- */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline-offset: 3px;
  outline: 2px dashed var(--main-color);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  color: var(--black);
  flex-direction: column;
  background-color: #fff;
  font-family: "Georgia", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a,
span,
button {
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  text-align: center;
}

/* ---------- CONTAINER ---------- */

.container {
  width: 100%;
  margin-left: auto;
  max-width: 1200px;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* PLACEHOLDER STYLE */

/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: var(--grey);
} */

/* AUTOFILL STYLES */

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--black);
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
} */

/* ---------- ELEMENT HIDER ---------- */

.visually-hidden {
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

/* ---------- BTN ---------- */

.btn {
  font-size: 14px;
  font-weight: 550;
  padding: 12px 14px;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  font-family: "HelveticaNeueCyr";
}

/* ---------- MAIN CONTENT ---------- */

.main-content {
  flex-grow: 1;
}

/* ---------- HEADER ---------- */

.header {
  padding: 24px 0;
  background-color: var(--main-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo-link {
  display: flex;
  margin-right: 40px;
}

.logo {
}

.logo__img {
  width: 134px;
  height: 24px;
}

.header__nav {
  margin-right: auto;
}

.nav {
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  font-size: 16px;
  font-weight: 550;
  line-height: 24px;
  color: var(--black);
  font-family: "HelveticaNeueCyr";
}

.header__lang-wrapper {
  display: flex;
  align-items: center;
}

.header__lang {
  display: flex;
  font-size: 16px;
  font-weight: 550;
  line-height: 24px;
  margin-right: 26px;
  color: var(--black);
  align-items: center;
  font-family: "HelveticaNeueCyr";
}

.header__lang::after {
  content: "";
  width: 9px;
  height: 9px;
  margin-left: 7px;
  display: inline-block;
  border-right: 3px solid var(--black);
  border-bottom: 3px solid var(--black);
  transform: translateY(-2px) rotate(45deg);
}

/* ---------- RETINA ---------- BG */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
